{% load static %}
<div class="card w-full bg-base-100 shadow-sm overflow-hidden relative">
    <div class="card-body z-10 text-white">
      <h1 class="italic font-semibold text-xl mb-2">Upcoming Events</h1>
      <div class="flex">
        <div class="w-full space-y-2">
          <div class="flex gap-2">
            <i data-lucide="calendar-days" class="w-6 h-6"></i>
            Today, 19:00 WIB
          </div>
          <div class="flex gap-2">
            <i data-lucide="map-pin" class="w-6 h-6"></i>
            Lapangan Indraprasta
          </div>
        </div>
        <div class="w-full space-y-2">
          <div class="flex gap-2">
            <i data-lucide="trophy" class="w-6 h-6"></i>
            Intermediate Level
          </div>
          <div class="flex gap-2">
            <i data-lucide="dollar-sign" class="w-6 h-6"></i>
            Rp25.000
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <button
          type="submit"
          class="btn btn-primary bg-lime-500 border-lime-500 hover:bg-lime-600 hover:border-lime-600 text-white"
        >
          Join Event
        </button>
      </div>
    </div>
    <img
      src="{% static 'images/latest-bg.webp' %}"
      alt="bg"
      class="absolute w-full h-full object-cover scale-105"
    />
  </div>