{% extends "base.html" %} {% load static %} {% load feeds_extras %} {% block meta %}
<meta
  name="description"
  content="Movezz - your social platform for sharing, broadcasting, and marketplace interactions."
/>
{% endblock meta %} {% block content %}
<div class="flex gap-3">
  <div class="basis-2/3">
    {% include 'components/create_post_card.html' %}
    <div class="mt-4">
      <div role="tablist" class="tabs tabs-border w-full text-lime-500 mb-2">
        <a href="?tab=foryou" role="tab" class="tab hover:text-lime-600 w-1/2 {% if active_tab == 'foryou' %}tab-active{% endif %}">For You</a>
        <a href="?tab=following" role="tab" class="tab hover:text-lime-600 w-1/2 {% if active_tab == 'following' %}tab-active{% endif %}">Following</a>
      </div>
      <div class="space-y-4">
        {% for post in posts %}
        {% include 'components/post_card.html' with post=post %}
        {% empty %}
        <div class="card w-full bg-base-100 shadow-sm">
            <div class="card-body">
                <p class="text-center text-neutral-500">No posts to show yet. Follow someone or create your first post!</p>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="basis-1/3">
    {% include 'components/upcoming_events_card.html' %}
  </div>
</div>

{% include 'components/post_modal.html' %}
{% include 'components/post_scripts.html' %}
{% endblock content %}
